body {
	background: url("http://www.wallpapersxl.com/wallpapers/1366x768/hong-kong-night-view/281456/hong-kong-night-view-street-china-walls-inc-net-281456.jpg");
}

#container {
	width: 50%;
	border-radius: : 5px;
	padding: 10px;
	background-color: lightgray;
	margin: 10% auto;
	text-align: center;
}

#letters a{
	color: white;
	background-color: darkgray;
	border-radius: : 5px;
	padding: 5px;
	cursor: pointer;
}

#letters a:hover{
	color: yellow;
}

#letters a .d{
	color: red;
	text-decoration: underline;
}